@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

/******** DEBUG *********/
.debugBug {
   display: none !important;
}

:root {
   --header-background: #6a0b6a;
   --header-height: 110px;
   --header-height: 70px;
   --container-max-width: 1000px;
   --header-secondary-background: #cdcdcd;
}



* {
   user-select: none;
}


body {
   min-width: 320px;
}



/************************    ICONS     *******************/
.my-icons {
   width: 24px;
   height: 24px;
   color: var(--gray-600);
   fill: none;
   stroke-width: 2px;
   display: inline-block;   
}

.icon-btn {
   cursor: pointer;
   touch-action: manipulation;
}

.icon-btn:hover {
   color: var(--gray-500);
}

.icon-star,
.icon-star * {   
    fill: #ffff4c !important;
    color: #ecec8a  !important;
}



/***************************************************************************/
/***********             CUSTOM CLASSES                 ********************/
/***************************************************************************/
body {
   height: 100dvh;
}

main {
   min-height: calc(100dvh - var(--header-height));
}

/************* HEADER ***************************/

header {
   background-color: var(--header-background);
}

header .my-icons,
header p,
header h1,
header h2,
header h3,
header span,
header svg {
   color: var(--gray-50);
}

header .my-icons:hover {
   color: var(--gray-200);
}

.points-container {
   font-size: clamp(1rem, 2.5vw, 1.5rem);
}

.score-display {
   max-width: 60px;
   text-align: left;
}

.user-avatar {
   width: 32px;
   height: 32px;
   border-radius: 50%;
   object-fit: cover;
}

/* responsive */
header h2 {
   font-size: 1.25rem;    /* fallback */
   font-size: clamp(1.25rem, 3vw, 1.75rem);
}

/************* VIEW: HOME ***************************/


.btn-difficulty {
   min-height: 90px;   
   width: 130px;
   width: clamp(130px, 35vw, 250px);
   justify-self: center;
   align-self: center;
   font-size: 0.8rem;
   border-radius: 22px;
   cursor: pointer;
   color: #f6f6f6;
}

.btn-difficulty:nth-child(1) {
   background-color: rgb(133, 133, 242);
}

.btn-difficulty:nth-child(2) {
   background-color: rgb(96, 96, 210);
}

.btn-difficulty:nth-child(3) {
   background-color: rgb(81, 81, 190);
}

.btn-difficulty:nth-child(4) {
   background-color: rgb(45, 45, 142);
}

.btn-difficulty:hover {
   filter: brightness(1.1);
}


/* responsive */
.view-home h1 {
   font-size: 2.5rem;    /* fallback */
   font-size: clamp(2.5rem, 6vw, 4rem);
}
.view-home > p {   
    font-size: 1rem;
    font-size: clamp(1.25rem, 3vw, 1.5rem);
}

.btn-difficulty h3 {
    font-size: 1.25rem;
    font-size: clamp(1.25rem, 2.75vw, 1.8rem);
}

.btn-difficulty p {
    font-size: 1rem;
    font-size: clamp(1rem, 2vw, 1.2rem);
   }


/************* VIEW: GAME  ***************************/
.view-game {   
   position: relative;   /* for success-animation positioning */
   max-width: 440px;
   min-width: 280px;
}



.level-display {
    background: #e2e2e2;
    padding: 6px 10px;
    border-radius: 10px;
    font-size: 1.5rem;
}


.question {
   height: 200px;
   border: 2px solid var(--gray-300);
   border-radius: 10px;
   font-size: 3rem;
}

.btn-choice {
   place-items: center;
   height: 80px;
   font-size: 2rem;
   border-radius: 8px;
   color: #f6f6f6;
   cursor: pointer;
}

.btn-choice:nth-child(1) {
   background-color: rgb(90, 90, 223);
}
.btn-choice:nth-child(2) {
   background-color: rgb(45, 215, 85);
}
.btn-choice:nth-child(3) {
   background-color: rgb(239, 189, 64);
}
.btn-choice:nth-child(4) {
   background-color: rgb(236, 80, 71);
}



/************* SUCCESS & INCORRECT OVERLAY ***************************/
.success-overlay,
.incorrect-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.3);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1000;
   pointer-events: none;
}

.success-animation,
.incorrect-animation {    
   position: absolute;
   top: 50%;
   left: 50%;
   width: 200px;
   height: 200px;
   transform: translate(-50%, -50%) scale(0);
   z-index: 2000;
}

.success-animation svg,
.incorrect-animation svg {
   position: relative;
   width: 100%;
   height: 100%;
}

/************* SUCCESS OVERLAY ***************************/
.success-animation {
   animation: feedbackAnimation 750ms ease-out forwards;
}

.success-animation svg {
   color: #3af63a !important;
}

/************* INCORRECT OVERLAY ***************************/
.incorrect-animation {
   animation: feedbackAnimation 1500ms ease-out forwards;
}


.incorrect-animation svg {
   color: rgb(236, 42, 32) !important;
}




/************* KEYFRAMES: Success / Incorrect ***************************/
@keyframes feedbackAnimation {
   0% {
      transform: translate(-50%, -50%) scale(0) rotate(-45deg);
      opacity: 0;
   }
   30% {
      transform: translate(-50%, -50%) scale(1.2) rotate(10deg);
      opacity: 1;
   }
   60% {
      transform: translate(-50%, -50%) scale(1) rotate(0deg);
      opacity: 1;
   }
   100% {
      transform: translate(-50%, -50%) scale(1) rotate(0deg);
      opacity: 0;
   }
}




/************************    MODAL: ALL MODALS     *******************/
.modal-summary,
.modal-user {
   min-height: 100dvh;
   position: fixed;
   top: 0;
   left: 0;
   background-color: var(--gray-50);   
   padding: min(2rem, 3vw);
   overflow-y: auto;
}

.modal-summary > .container {
   position: relative;
   max-width: 720px;
   padding: 0;      /* padding on the parent modal */
   grid-template-rows: 60px minmax(100px, auto) auto;
}

/************************    MODAL: SUMMARY     *******************/

.modal-wrapper > :last-child {
   padding-bottom: 2rem;
}

.modal-close,
.modal-close svg {
   height: 32px;
   width: 32px;
}



.modal-close:hover {
   filter: brightness(0.9);
}


.stats-main-stat-value {
   font-weight: 500;  
   font-size: var(--font-size-2xl);
   font-size: clamp(1.25rem, 5vw, 2.25rem);
}


.stats-main-stat-label {
   font-size: var(--font-size-2xl);
   font-size: clamp(0.85rem, 1.4vw, 1.4rem);
   line-height: 1.25;
}


/************************    CHARTS     *******************/

/** Chart Selector **/
.chart-selector {
   border-radius: 18px;
   overflow: hidden;
   margin-bottom: 2rem;
}
.chart-btn {
   padding: 6px 12px;
   background-color: var(--gray-300);
   height: 36px;
   width: 100px;
   color: var(--gray-400);
   transition: background-color 200ms, color 200ms;
}

.chart-btn:nth-first-child {
   border-top-left-radius: 18px;
   border-bottom-left-radius: 18px;
}

.chart-btn:nth-last-child {
   border-top-right-radius: 18px;
   border-bottom-right-radius: 18px;
}

.chart-btn.active {
   background-color: var(--gray-700); 
   color: var(--gray-50);
}

.chart-btn:hover:not(.active) {
   background-color: var(--gray-200);
   color: var(--gray-500);
}

/** Chart Container and Elements **/
.chart-container {
   min-width: 300px;
   max-width: 900px;
   width: 100%;
}
.chart-container svg {
   color: var(--header-background) !important; /* Theme color: change this to match your design */
   font-family: system-ui, Arial, sans-serif;
}

.chart-container rect[tabindex="0"]:focus {
   outline: 2px dashed #555;
}


/************************    MODAL: USER     *******************/
.modal-user.darken {
   background-color: var(--gray-400) !important;
}

.modal-user .modal-wrapper.disable-interaction {
   pointer-events: none !important;
   background-color: var(--gray-400) !important;
   cursor: auto !important;
}

.modal-user .modal-wrapper.disable-interaction > .modal-wrapper {
   pointer-events: none;
   opacity: 0.1;
}

.user-select-avatar,
.user-add-avatar {
   width: min(120px, 22vw);
   height: auto;
   border-radius: 50%;
   object-fit: cover;
   border: 2px solid transparent;
}

.user-select-edit-button,
.user-add-edit-button-dummy {
   width: 80px;
   height: 32px;
}

.user-select-edit-button {
   font-size: 0.85rem;
   padding: 4px 8px;
   background-color: var(--gray-500);
   color: var(--gray-50);
}

.user-select-edit-button:hover {
   background-color: var(--gray-600);
}

.modal-user-edit {
   position: absolute;
   background-color: var(--white);
   min-width: 300px;
   width: 80vw;
   min-width: 300px;
   max-width: 600px;
   border-radius: 8px;
   box-shadow: 0 0 6px -4px #999;
}

.avatar-list {
   place-items: center;
}

.user-edit-avatar-option {
   width: min(60px, 16vw);
   height: auto;
   border-radius: 50%;
   object-fit: cover;
   border: 2px solid transparent;
   margin: 8px;
   cursor: pointer;
   transition: box-shadow 200ms;
}

.user-edit-avatar-option:hover {
    box-shadow: 0 0 1px 4px var(--gray-300);
}

.user-edit-avatar-option.selected {
    box-shadow: 0 0 1px 4px var(--header-background);
    border: none;
}


.btn.user-edit-save {   
    padding: 8px 10px;
    background-color: var(--accent);
}

.btn.user-edit-cancel {   
    padding: 8px 10px;
    background-color: var(--warning);
}

.btn.user-edit-save:hover,
.btn.user-edit-cancel:hover {
    filter: brightness(1.1);
}

/***************************************************************************/
/***********       CLASSES CASCADED LAST          *************************/
/***************************************************************************/
.always-hide {
   visibility: hidden !important;
   opacity: 0 !important;
}

.hide {
   visibility: hidden !important;
   opacity: 0 !important
}

.nodisplay {
   display: none !important;
}

.modal-disable {
   pointer-events: none !important;
   background-color: var(--gray-400) !important;
   cursor: auto !important;
}

/***************************************************************************/
/***********         RESPONSIVE MEDIA QUERIES     *************************/
/***************************************************************************/

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 575px) {
}

@media only screen and (max-width: 375px) {
   .level-display {
    position: static;
    transform: none;
    top: 0px;
    left: 0px;
    font-size: 1.5rem;
    color: var(--gray-50);
   }   
}
